<ng-template #surveyInputSearch let-r="result" let-t="term">
  <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
</ng-template>

<div [hidden]="lookupLoaded" class="col-12 progress"><i class="fas fa-sync-alt fa-spin"></i></div>

<div class="col-12 col-md-9 item"
     (click)="handler.getSelectedSurvey(handler.model)"
     (focus)="handler.getSelectedSurvey(handler.model)">
  <input
    id="typeahead-focus"
    type="text"
    class="form-control"
    [(ngModel)]="handler.model"
    [ngbTypeahead]="search"
    (ngModelChange)="handler.isClicked(handler.model)"
    (click)="handler.getSelectedSurvey(handler.model)"
    (focus)="focus$.next($event.target.value)"
    [inputFormatter]="formatter"
    [resultTemplate]="surveyInputSearch"
    #instance="ngbTypeahead"
    [attr.disabled]="lookupLoaded ? null : ''"
  />
</div>

<div class="col-12 col-md-3 item">
  <button type="button" id="surveys_button" class="btn btn-outline-primary" (click)="searchSurveyButton()"
          [attr.aria-expanded]="!handler.showDownloadView" aria-controls="collapseSurvey"
          [attr.disabled]="lookupLoaded ? null : ''">
    Show Downloads
  </button>
</div>
